{% block comment %}
    <div>
        {#{{ knp_disqus_render('dolor-sid', {#}
            {#'identifier': '/december-2010/the-best-day-of-my-life/',#}
            {#'limit': 10,#}
            {#'newCommentCallbackFunctionName': 'onNewComment'#}
        {#}) }}#}

        {{ knp_disqus_render(
        'dolor-sid',
        {
            'identifier': '/december-2010/the-best-day-of-my-life/',
            'limit': 100,
            'sso': {
            'user': {
                'id' : 'test',
                'username' : 'Kate Yatsenco',
                'email': 'k.yatsenco@gmail.com',
            },
            'service': {
                'name': 'katyayatsenco'
            }
        }
        },
        'KnpDisqusBundle::list.html.twig' )
        }}

    </div>
{% endblock comment %}